#info{

}
#myImg img{
    margin-left: auto;
	margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
	display: block;
}
#content{
    overflow:auto; 
    width: 1480px; 
    background: gray; 
    background-position: center center;
    background-size: cover;
}
#tle{
    margin-left: auto;
	margin-right: auto;
	display: block;
}
body{
    background-color: aqua;
}