
#myImg img{
    margin-left: auto;
	margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
	display: block;
}
#content{
    overflow:auto; 
    width: 1480px; 
    background-position: center center;
    background-size: cover;
}
.person{
    margin-left: auto;
	margin-right: auto;
	display: block;
}
body{
    background-image: url(/img/22540204_124881954893923_9188257148691514498_n_thumb.jpg);

}